# Ignore virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore model and preprocessor artifacts
#*.pkl

# Ignore system files
.DS_Store

# Ignore environment or deployment files (optional)
.env
*.log